.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--dark-bg-color);
  border-bottom: 1px solid #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 74px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header-select {
  background-color: var(--dark-bg-color);
  border: none;
  color: var(--main-txt-color);
}

.header-menu-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.header-menu-dropdown {
  align-items: center;
  display: flex;
  padding-top: 8px;
  padding-bottom: 18px;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  position: relative;
  display: block;
  padding: 0;
  width: 48px;
  height: 24px;
  color: var(--main-txt-color);
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  background-color: transparent;
}

.dropdown-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 24px;
  height: 24px;

  background-image: url("../images/header/vector.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}
/* MOBILE */
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .header-btn-donat {
    display: none;
  }

  .header-burger-btn {
    background-color: transparent;
    padding: 12px 0;
  }

  .menu {
    position: fixed;
    top: 50px;
    right: 0;
    transition: transform 500ms;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 300px;
    padding: 16px 32px 32px 16px;
    border-radius: 0px 0px 0px 12px;
    background-color: var(--dark-bg-color);
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .menu-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-txt-color);
  }

  .menu-btn-donat {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    background-color: #fff;
    color: var(--accent-btn-color);
    border: 0.54px solid #ffffff;
    border-radius: 5px;
    padding: 5px 18.5px;
  }

  .menu-btn-donat:hover,
  .menu-btn-donat:focus {
    background-color: var(--accent-btn-color);
    color: var(----default-btn-color);
    border: 0.54px solid var(--accent-btn-color);
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .header-burger-btn {
    display: none;
  }

  .header-logo {
    width: 130px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-nav-list {
    display: flex;
    gap: 12px;
  }

  .header-link {
    color: inherit;
    font-size: 16px;
    line-height: 1.19;
    padding: 30px 0;
  }

  .header-menu-dropdown {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header-btn-donat {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    background-color: var(--default-btn-color);
    color: var(--accent-btn-color);
    border: 0.54px solid var(--default-btn-color);
    border-radius: 5px;
    padding: 5.5px 25.5px;
  }

  .header-btn-donat:hover,
  .header-btn-donat:focus {
    background-color: var(--accent-btn-color);
    color: var(----default-btn-color);
    border: 0.54px solid var(--accent-btn-color);
  }

  .dropdown-button {
    font-size: 14px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .header-logo {
    width: 182px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    color: inherit;
    font-size: 24px;
    line-height: 1.2;
    padding: 39px 0;
  }

  .header-menu-dropdown {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header-btn-donat {
    font-size: 24px;
    line-height: 1.2;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

  .dropdown-button {
    font-size: 18px;
  }
}
