:root {
  /* Font colors */
  --main-txt-color: #e6e6e6;
  --accent-red-txt-color: #f56a3d;
  --accent-blue-txt-color: #5e9ff5;

  /* Background colors */
  --dark-bg-color: #010101;

  /* Button colors */
  --default-btn-color: #ffffff;
  --accent-btn-color: #5e9ff5;

  /* Fonts */
  --main-font: "Inter", sans-serif;

  /* Animation */
  --transition-dur-and-func: 400ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Shadow */
  --hover-shadow: 0px 0px 16px rgba(253, 253, 253, 0.28);
}

#root {
  min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-style: inherit;
}
a {
  text-decoration: none;
}

.hidden-element {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* General styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  background-color: var(--dark-bg-color);
}

.section {
  margin: 0 auto;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  padding: 0 16px;
}

.text-accent {
  color: var(--accent-red-txt-color);
}

.button-donate {
  background-color: #fff;
  color: var(--accent-btn-color);
  border: 0.5px solid #ffffff;
}

.button-donate:hover,
.button-donate:focus {
  background-color: var(--accent-btn-color);
  color: var(----default-btn-color);
  border: 0.5px solid var(--accent-btn-color);
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 16px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }

  .section {
    padding-bottom: 80px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 40px;
  }
}
/*---- header.css ---*/
.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: var(--dark-bg-color);
  border-bottom: 1px solid #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 74px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header-select {
  background-color: var(--dark-bg-color);
  border: none;
  color: var(--main-txt-color);
}

.header-menu-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu-dropdown {
  align-items: center;
  display: flex;
  padding-top: 8px;
  padding-bottom: 18px;
  margin-right: 16px;
}

.dropdown {
  position: relative;
  font-size: 16px;
  line-height: 1;
}

.dropdown-button {
  position: relative;
  display: block;
  padding: 0;
  width: 48px;
  height: 24px;
  text-align: left;
  color: var(--main-txt-color);
  background-color: transparent;
}

.dropdown-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 24px;
  height: 24px;

  background-image: url("../images/header/vector.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.dropdown-list {
  display: none;
  z-index: 2;
  position: absolute;
  background-color: var(--dark-bg-color);
  bottom: 1px;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-list-item:first-child {
  margin-bottom: 5px;
}

.dropdown-list--visible {
  display: flex;
  flex-direction: column;
}

.dropdown-list-reverse {
  flex-direction: column-reverse;
}
.dropdown-list-reverse .dropdown-list-item:last-child {
  margin-bottom: 5px;
}
.dropdown-list-reverse .dropdown-list-item:first-child {
  margin-bottom: 0;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .header-btn-donat {
    display: none;
  }

  .header-burger-btn {
    background-color: transparent;
    padding: 12px 0;
  }

  /* burger menu alex edition */

.burger {
    width: 32px;
    /* height: 24px; */
    cursor: pointer;
    /* right: 2rem;
    top: 2rem;
    z-index: 20; */
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: var(--main-txt-color);
    border-radius: 12px;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: "";
    width: 100%;
    background-color: var(--main-txt-color);
    display: block;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    height: 4px;
}

.burger span::before {
    transform: translateY(-10px);

}

.burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
}


.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}

/* burger the end */

  .header-container {
    position: relative;
  }

  .menu {
    position: absolute;
    z-index: 5;
    top: 51px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 300px;
    padding: 15px;
    border-radius: 0px 0px 0px 12px;
    background-color: var(--dark-bg-color);
    transition: all var(--transition-dur-and-func);
  }

  .visually-hidden {
    top: 51px;
    transform: translateX(200%);
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0px;
    height: 300px;
    overflow: hidden;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin-right: -1px;
    margin-left: -1px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu-list li:not(:last-child) {
    margin-bottom: 26px;
  }

  .menu-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-txt-color);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #ffffff;
    text-shadow: var(--hover-shadow);
  }

  .menu-btn-donat {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    background-color: #fff;
    color: var(--accent-btn-color);
    border: 0.54px solid #ffffff;
    border-radius: 5px;
    padding: 5px 18.5px;
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);
  }

  .menu-btn-donat:hover,
  .menu-btn-donat:focus {
    background-color: var(--accent-btn-color);
    color: var(----default-btn-color);
    border: 0.54px solid var(--accent-btn-color);
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .header-burger-btn {
    display: none;
  }

  .header-logo {
    width: 130px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-nav-list {
    display: flex;
    gap: 12px;
  }

  .header-link {
    color: inherit;
    font-size: 16px;
    line-height: 1.19;
    padding: 30px 0;
  }

  .header-link:hover,
  .header-link:focus {
    color: #ffffff;
    text-shadow: var(--hover-shadow);
  }

  .header-menu-dropdown {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header-btn-donat {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    background-color: var(--default-btn-color);
    color: var(--accent-btn-color);
    border: 0.54px solid var(--default-btn-color);
    border-radius: 5px;
    padding: 5.5px 25.5px;
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);
  }

  .header-btn-donat:hover,
  .header-btn-donat:focus {
    background-color: var(--accent-btn-color);
    color: var(----default-btn-color);
    border: 0.54px solid var(--accent-btn-color);
  }

  .dropdown {
    font-size: 14px;
  }

  .dropdown-list {
    bottom: 11px;
  }

  .dropdown-list-item:first-child {
    margin-bottom: 8px;
  }

  .dropdown-list-reverse .dropdown-list-item:last-child {
    margin-bottom: 8px;
  }
  .dropdown-list-reverse .dropdown-list-item:first-child {
    margin-bottom: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .header-logo {
    width: 180px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    color: inherit;
    font-size: 24px;
    line-height: 1.2;
    padding: 39px 0;
  }

  .header-menu-dropdown {
    padding-top: 28px;
    padding-bottom: 28px;
    margin-right: 24px;
  }

  .header-btn-donat {
    font-size: 24px;
    line-height: 1.2;
    padding: 11.5px 51.5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

  .header-btn-donat:hover,
  .header-btn-donat:focus {
    border: 1px solid var(--accent-btn-color);
  }

  .dropdown {
    font-size: 18px;
  }

  .dropdown-list {
    bottom: 3px;
  }

  .dropdown-list-item:first-child {
    margin-bottom: 10px;
  }

  .dropdown-list-reverse .dropdown-list-item:last-child {
    margin-bottom: 10px;
  }
  .dropdown-list-reverse .dropdown-list-item:first-child {
    margin-bottom: 0;
  }
}

/* #id */
.ancor {
  position: absolute;
  display: block;
  top: -70px;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .ancor {
    top: -120px;
  }
}
@media screen and (min-width: 1440px) {
  .ancor {
    top: -147px;
  }
}
.hero {
  padding: 40px 0;
}

.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  bottom: 0;
  right: -40vw;
  z-index: -1;
  max-width: 900px;
  width: 120%;
}

.hero-text {
  max-width: 70%;
  margin-bottom: 40px;
}

.hero-box {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.hero-donate-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  max-width: 460px;
  width: 100%;
  /*margin: 0 auto;*/
}

.hero-donate-btn {
  height: 56px;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 10px;
  background-color: var(--default-btn-color);
  color: var(--accent-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-dur-and-func),
  background-color var(--transition-dur-and-func);
}

.hero-donate-btn span {
  text-align: center;
}

.hero-donate-btn:hover,
.hero-donate-btn:focus {
  background-color: var(--accent-btn-color);
  color: var(--default-btn-color);
}

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 12px;
}

.hero-moto {
  font-size: 14px;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .hero-donate-btns {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    max-width: 250px;
    margin: 0 auto;
  }
  .hero-box {
    margin-bottom: 24px;
  }
  .hero-video {
    right: -38vw;
    bottom: auto;
    top: -5vh;
    width: 110%;
  }
}

@media screen and (min-width: 768px) {
  .hero-video {
    right: -26vw;
    width: 100%;
  }

  .hero-text {
    padding-bottom: 40px;
  }

  .hero-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    padding: 88px 0!important;
  }

  .hero-video {
    right: -10vw;
  }

  .hero-box {
    position: relative;
  }

  .hero-title {
    font-size: 45px;
    margin-bottom: 24px;
  }

  .hero-moto {
    max-width: 607px;
    font-size: 18px;
    line-height: 1.5;
  }
}

/* COOKIE  */
.modal-cookie {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 365px;
  height: 45px;
  padding: 12px 16px;

  z-index: 100;
  position: fixed;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  border-radius: 6px;
  opacity: 1;
  transition: bottom var(--transition-dur-and-func),
              background-color var(--transition-dur-and-func),
              opacity var(--transition-dur-and-func);
}

.hide-cookie-modal {
  background-color: transparent;
  opacity: 0;
  bottom: -60px;
}

.modal-content-img {
  margin-right: 6px;

  width: 19px;
  height: 17px;
}

.modal-content-text {
  margin-right: auto;

  font-size: 12px;
  line-height: 1.2;
  color: #010101;
}

.modal-content-btn {
  padding: 5.5px 8.5px;
  font-weight: 500;
  font-size: 8.4px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #010101;
  background: #ffffff;
  border: 1px solid #f56a3d;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 80px 0;
  }

  .modal-cookie {
    width: 476px;
    left: 49%;
    height: 61px;
    padding: 16px 20px 16px 16px;
  }

  .modal-content-img {
    margin-right: 7px;
    width: 38px;
    height: 33px;
  }

  .modal-content-text {
    font-size: 14px;
  }

  .modal-content-btn {
    padding: 8px 17px;
    font-size: 10.5px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-cookie {
    width: 552px;
    height: 79px;
    padding: 17px 24px 17px 20px;
  }

  .modal-content-img {
    margin-right: 10px;
    width: 51px;
    height: 45px;
  }

  .modal-content-text {
    font-size: 16px;
  }

  .modal-content-btn {
    padding: 11px 22.5px;
    font-size: 14px;
  }
}
.amount-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.amount-item {
  padding: 16px;
  border: 1px solid var(--main-txt-color);
  border-radius: 12px;
}

.amount-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.amount-item-numbers {
  display: block;
  text-align: center;
  font-size: 36px;
  line-height: 100%;
  font-weight: 800;
  padding: 0 0 7px;
  border-bottom: 0.5px solid #e6e6e6;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 16px;
}

.amount-item-numbers.blue-number {
  color: var(--accent-blue-txt-color);
}

.amount-item-discription {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .amount-item-title {
    font-size: 16px;
    margin-bottom: 23px;
  }

  .amount-item-title-sp {
    display: inline-block;
  }

  .amount-item-numbers {
    text-align: center;
    margin-bottom: 12px;
  }

  .amount-item-discription {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {

  .amount-item-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 13px;
  }

  .amount-item-title-sp {
    display: inline-block;
  }

  .amount-item-numbers {
    text-align: center;
    padding: 0 0 16px;
    margin-bottom: 24px;
  }

  .amount-item-discription {
    font-size: 16px;
    max-width: 440px;
  }
}


@media screen and (max-width: 768px){
  .amount-list {
    max-width: 430px;
    grid-template-columns: 1fr;
  }

}
.img-list {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.img-item {
  display: flex;
  align-items: flex-start;
  gap: 33px;
}

.img-item-picture1 {
  width: 130px;
  height: 292px;
}

.img-item-picture2 {
  width: 132px;
  height: 358px;
}

.img-item-description {
  width: 50%;
  text-align: left;
}

.img-item-description-amount {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.img-item-description-text {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .container-img {
    padding: 0 19px 0 0;
  }

  .img-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .img-item1 {
    max-width: 48.82%;
  }
  .img-item-picture1 {
    width: 145px;
    height: 326px;
  }

  .img-item-picture2 {
    width: 128px;
    height: 348px;
  }

  .img-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  .img-item-description {
    flex-grow: 1;
    text-align: left;
  }

  .img-item-description-amount {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 8px;
  }

  .img-item-description-a {
    color: var(--accent-red-txt-color);
  }

  .img-item-description-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 40px;
  }

  .img-list {
    display: flex;
    flex-direction: row;
    gap: 160px;
  }

  .img-item1 {
    max-width: 38.24%;
  }

  .img-item2 {
    padding-right: 144px;
  }
  .img-item-picture1 {
    width: 249px;
    height: 560px;
  }

  .img-item-picture2 {
    width: 255px;
    height: 694px;
  }

  .img-item {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }

  .img-item-description {
    flex-grow: 1;
    text-align: left;
  }

  .img-item-description-amount {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 24px;
  }

  .img-item-description-text {
    font-size: 18px;
  }
}
.section-about {
  position: relative;
}

.map-container {
  margin-bottom: 40px;
}

.section-header {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.map-container-header {
  margin-top: 24px;
}

.about-text {
  margin-bottom: 24px;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.about-paragraph:nth-child(-n + 2) {
  margin-bottom: 29px;
}

.swiper {
  width: 350px;
  height: 222px;
}

.swiper-slide {
  width: 148px;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.swiper-slide img {
  max-width: none;
}

.link-see-more {
  color: var(--main-text-color);
  font-size: 14px;
  text-align: right;
  display: block;
  margin-top: 8px;
}

.link-see-more:hover {
  color: white;
}

/* MOBILE */
@media screen and (min-width: 375px) {
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about-header {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section-header {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .map-container-header {
    margin-top: 40px;
  }

  .about-wrapper {
    flex-wrap: nowrap;
  }

  .about-text {
    margin-bottom: 0;
    margin-right: 12px;
  }

  .about-paragraph {
    font-size: 16px;
  }

  .about-paragraph:nth-child(-n + 2) {
    margin-bottom: 28px;
  }

  .swiper {
    height: 450px;
  }

  .link-see-more {
    margin-top: 12px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .section-header {
    font-size: 45px;
    margin-bottom: 80px;
  }

  .map-container-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about-text {
    margin-right: 24px;
  }

  .about-paragraph {
    font-size: 24px;
  }

  .about-paragraph:nth-child(-n + 2) {
    margin-bottom: 48px;
  }

  .swiper {
    width: 670px;
    height: 633px;
  }

  .link-see-more {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 16px;
  }
}
.container-underline {
  border-bottom: 1px solid var(--main-txt-color);
  padding-bottom: 24px;
}

.logo-articles {
  display: grid;
  grid-template-columns: repeat(4, 74px);
  grid-template-rows: 70px 38px 48px 58px;
  gap: 15px 16px;
  justify-items: center;
  align-items: center;
}

.logo-link {
  display: block;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transform: translateZ(0);
}

.articles-item,
.partners-item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Mouse, touchpad */
@media (pointer: fine) {
  .logo-link:hover,
  .logo-link.small:hover,
  .logo-link.v-small:hover {
    -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    transform: translateZ(0) scale(1.15);
  }

  @media screen and (max-width: 767px) {
    .logo-link:active,
    .logo-link:focus,
    .logo-link.small:active,
    .logo-link.small:focus,
    .logo-link.v-small:active,
    .logo-link.v-small:focus {
      filter: none;
      transform: scale(1);
    }
  }
}

/* Smartphones, devices with a touch screen that are operated with fingers */
@media (pointer: coarse) {
  .logo-link:active,
  .logo-link.small:active,
  .logo-link.v-small:active {
    -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    transform: translateZ(0) scale(1.15);
  }
}

.logo-stb {
  width: 73px;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
}

.logo-intb {
  width: 67px;
  grid-row: 1;
  grid-column: 2;
}

.logo-mvi {
  width: 86px;
  grid-row: 1;
  grid-column: 3;
}

.logo-cna {
  width: 52px;
  grid-row: 1;
  grid-column: 4;
  justify-self: end;
}

.logo-informator {
  width: 164px;
  grid-row: 2;
  grid-column: 1 / 3;
}

.logo-arte {
  width: 163px;
  grid-row: 2;
  grid-column: 3 / 5;
}

.logo-vkyiv {
  width: 164px;
  grid-row: 3;
  grid-column: 1 / 3;
}

.logo-liga {
  width: 163px;
  grid-row: 3;
  grid-column: 3 / 5;
}

.logo-1p1 {
  width: 164px;
  grid-row: 4;
  grid-column: 1 / 3;
}

.logo-dim {
  width: 163px;
  grid-row: 4;
  grid-column: 3 / 5;
}

/* MOBILE */
@media screen and (min-width: 375px) {
}

/* TABLET */
@media screen and (min-width: 768px) {
  .logo-articles {
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: 107px 40px 30px;

    row-gap: 50px;
    justify-items: center;
  }

  .container-underline {
    padding-bottom: 40px;
  }

  .logo-stb {
    width: 105px;
    justify-self: start;
    grid-column: 1 / 3;
  }

  .logo-intb {
    width: 99px;
    justify-self: center;
    grid-column: 3 / 6;
  }

  .logo-mvi {
    width: 122px;
    grid-row: 1;
    grid-column: 6 / 9;
  }

  .logo-cna {
    width: 82px;
    justify-self: end;
    grid-row: 1;
    grid-column: 8 / 11;
  }

  .logo-informator {
    width: 102px;
    grid-row: 3;
    grid-column: 7 / 11;
  }

  .logo-arte {
    width: 160px;
    grid-row: 2;
    grid-column: 7 / 11;
  }

  .logo-1p1 {
    width: 104px;
    grid-row: 2;
    grid-column: 2 / 4;
  }

  .logo-dim {
    width: 106px;
    grid-row: 2;
    grid-column: 5 / 7;
  }

  .logo-vkyiv {
    width: 104px;
    grid-row: 3;
    grid-column: 2 / 4;
  }

  .logo-liga {
    width: 104px;
    grid-row: 3;
    grid-column: 5 / 7;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .logo-articles {
    grid-template-columns: repeat(12, 113px);
    grid-template-rows: 167px 61px 47px;
    row-gap: 81px;
    column-gap: 0;
  }

  .container-underline {
    padding-bottom: 80px;
  }

  .logo-stb {
    width: 164px;
    grid-column: 2 / 4;
    justify-self: start;
  }

  .logo-intb {
    width: 154px;
    grid-column: 4 / 7;
    justify-self: center;
  }

  .logo-mvi {
    width: 189px;
    grid-column: 7 / 10;
    justify-self: center;
  }

  .logo-cna {
    width: 127px;
    justify-self: end;
    grid-column: 10 / 12;
  }

  .logo-1p1 {
    width: 161px;
    grid-row: 2;
    grid-column: 3 / 5;
  }

  .logo-dim {
    width: 165px;
    grid-row: 2;
    grid-column: 6 / 8;
  }

  .logo-arte {
    width: 249px;
    grid-column: 8 / 11;
    justify-self: end;
  }

  .logo-vkyiv {
    width: 161px;
    grid-column: 3 / 5;
  }

  .logo-liga {
    width: 161px;
    grid-column: 6 / 8;
  }

  .logo-informator {
    width: 159px;
    grid-column: 9 / 11;
    justify-self: center;
  }
}
.section-reviews {
  position: relative;
}

.swiper-review {
  width: 343px;
  height: 222px;
  overflow: hidden;
}

.swiper-review .swiper-slide img {
  width: 100%;
  cursor: pointer;
}

.increasing-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 27;
  /* padding-top: 180px; */
  background: rgba(10, 9, 9, 0.80);
  overflow: hidden;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform var(--transition-dur-and-func);
}

.hidden-backdrop{
  transform: scale(0);
}

.body-no-scroll {
  overflow: hidden;
}

.increased-photo {
  width: 280px;
  height: 420px;
  object-fit: cover;

  border-radius: 16px;
  overflow: hidden;
  pointer-events: none;
}

.increased-photo img {
  width: 100%;
}
.increasing-backdrop::after{
  content: " ";
  width: 24px;
  height: 24px;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M1 25.0001L25 1.00004' stroke='white' stroke-width='1.69706' stroke-linecap='round'/%3E%3Cpath d='M25 25.0001L1 1.00004' stroke='white' stroke-width='1.69706' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -224px;
  right: -7px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .swiper-review {
    width: 728px;
    height: 450px;
  }

  .increased-photo {
    width: 400px;
    height: 600px;
  }

  .increasing-backdrop::after {
    top: -312px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .swiper-review {
    width: 1360px;
    height: 484px;
  }

}
.section-partners {
  position: relative;
}

.logo-partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  margin: 0 auto;
}


.logo-partners .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-item .partners-img {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 768px) {
  .logo-partners {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
.donate-title.top {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 343px;
}

.donate-text.top {
  margin-bottom: 24px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .donate-title.top {
    margin-bottom: 24px;
    width: 630px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .donate-title.top {
    width: 782px;
  }
  .donate-text.top {
    margin-bottom: 42px;
  }
}
.donate {
  color: #e6e6e6;
  text-align: center;
}

.donate-container.down {
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--main-txt-color);
}

.donate-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.donate-title.down {
  margin-bottom: 24px;
}

.donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 184px;
  height: 54px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent-btn-color);
  background-color: var(--default-btn-color);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.donate-btn:hover,
.donate-btn:focus {
  background-color: var(--accent-btn-color);
  color: var(----default-btn-color);
}

.donate-btn.down {
  margin-bottom: 24px;
}
.donate-text {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767.8px) {
  .donate-title.down {
    margin-right: auto;
    margin-left: auto;
    width: 315px;
  }
  .donate-text.down {
    margin-right: auto;
    margin-left: auto;
    width: 255px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .donate-container.down {
    padding-bottom: 80px;
  }

  .donate-title {
    font-size: 36px;
  }
  .donate-btn {
    width: 193px;
    height: 56px;
    font-size: 25px;
  }
  .donate-text {
    font-size: 18px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .donate-title {
    font-size: 45px;
  }
  .donate-title.down {
    margin-bottom: 40px;
  }
  .donate-btn {
    width: 256px;
    height: 75px;
    font-size: 34px;
  }
  .donate-btn.down {
    margin-bottom: 40px;
  }
  .donate-text {
    font-size: 24px;
  }
}
.section-faq {
  position: relative;
}

.faq-header {
  text-align: left;
}

.faq-box {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.faq-box-item {
  padding: 16px 0;
  line-height: 1.5;
  cursor: pointer;
}

.faq-box-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.faq-box-item-topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-box-item-topline-btn {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  transition: transform var(--transition-dur-and-func);
}

.faq-box-item-topline-btn.active {
  transform: rotate(45deg);
}

.faq-box-item-topline-btn > svg {
  display: block;
  width: 24px;
  height: 24px;
}

.faq-box-item-answer {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}

@media screen and (max-width: 767.8px) {
  .faq-box-item-topline-question {
    max-width: 269px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .faq-header {
    margin-bottom: 24px;
  }
  .faq-box-item {
    padding: 24px 0;
  }
  .faq-box-item-topline-question {
    font-size: 18px;
  }
  .faq-box-item-answer {
    margin-top: 20px;
    font-size: 14px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .faq-header {
    margin-bottom: 40px;
  }
  .faq-box-item {
    padding: 32px 0;
  }
  .faq-box-item-topline-question {
    font-size: 24px;
  }
  .faq-box-item-answer {
    margin-top: 27px;
    font-size: 16px;
  }
}
.section-contacts {
  position: relative;
}

.contacts-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.contacts-list-item-link {
  display: block;
  width: 40px;
  height: 40px;
}

.contact-list-svg {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  overflow: hidden;
}

.contact-list-svg-image {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* .............. */
.contacts-list-item-link {
  display: block;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transform: translateZ(0);
}

.contacts-list-item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Mouse, touchpad */
@media (pointer: fine) {
  .contacts-list-item-link.instagram-lnk:hover,
  .contacts-list-item-link.telegram-lnk:hover,
  .contacts-list-item-link.tiktok-lnk:hover {
    -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    transform: translateZ(0) scale(1);
  }

  @media screen and (max-width: 767px) {
    .contacts-list-item-link.instagram-lnk:active,
    .contacts-list-item-link.instagram-lnk:focus,
    .contacts-list-item-link.telegram-lnk:active,
    .contacts-list-item-link.telegram-lnk:focus,
    .contacts-list-item-link.tiktok-lnk:active,
    .contacts-list-item-link.tiktok-lnk:focus {
      filter: none;
      transform: scale(1);
    }
  }
}

/* Smartphones, devices with a touch screen that are operated with fingers */
@media (pointer: coarse) {
  .contacts-list-item-link.instagram-lnk:active,
  .contacts-list-item-link.telegram-lnk:active,
  .contacts-list-item-link.tiktok-lnk:active {
    -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 1));
    transform: translateZ(0) scale(1);
  }
}

/* ........ */

@media screen and (min-width: 768px) {
  .contacts-list {
    gap: 13px;
  }

  .contacts-list-item-link {
    width: 68px;
    height: 68px;
  }

  .svgtag {
    width: inherit;
    height: inherit;
    border-radius: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-list {
    gap: 24px;
  }

  .contacts-list-item-link {
    width: 91px;
    height: 91px;
  }

  .contacts-list-item-link img {
    border-radius: 19px;
  }
}
.header {
    width: 100%;
}

.container-volunteer {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.volunteer {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.volunteer__title {
    font-size: 40px;
    text-align: center;
    line-height: 130%;
    padding: 32px 0 8px;
    font-weight: 800;
}

.volunteer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.volunteer__list {
    margin-left: 8px;
    list-style: auto;
    margin-bottom: 16px;
}

.volunteer__list-item {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    padding-bottom: 8px;
    color: var(--dark-bg-color);
}
.volunteer__list-item:last-child {
    padding-bottom: 0;
}

.volunteer__subtitle {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    max-width: 768px;
    margin: 0 auto 32px
}

.volunteer__contacts {
    min-height: 90vh;
}

.volunteer__box {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    padding: 0 16px;
}

.volunteer__btns-switch {
    background: #EBEBEB;
    border: 1px solid #CBCBCB;
    border-radius: 12px;
    padding: 4px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4px;
    box-shadow: 0 0 3.5px 2px rgba(0, 0, 0, 0.0392156863) inset;
    max-width: 768px;
    width: 100%;
    margin: 0 auto 16px;
    color: var(--dark-bg-color);
}

.volunteer__btns-switch-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    border-radius: 12px;
}

.volunteer__btns-switch-item.active {
    background: linear-gradient(180deg, var(--main-txt-color) 0%, #F6F6F6 100%);
    border: 1px solid #CACACA;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1215686275);
    animation-name: sizing;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.volunteer__btns-switch-item.active span.blue {
    display: inline-block;
    background: linear-gradient(180deg, #0071ff 0%, #5e9ff5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.volunteer__btns-switch-item.active span.orange {
    display: inline-block;
    background: linear-gradient(180deg, #ff3e00 0%, #f56a3d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.volunteer__btns-switch-item.active-text {
    color: white;
}

@keyframes sizing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

.volunteer__content {
    width: 100%;
    border-radius: 12px;
    padding: 16px;
    display: none;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1215686275);
    background: #EBEBEB;
    border: 1px solid #CBCBCB;
    min-height: 280px;
}

.volunteer__content-title {
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
    color: var(--dark-bg-color);
    padding-bottom: 16px;
    text-align: center;
}

.volunteer__content.active {
    display: block;
}

.volunteer__content.active {
    display: block;
}

.volunteer__content-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.volunteer__content-img {
    min-height: 104px;
    width: 100%;
    max-width: 104px;
    -o-object-fit: cover;
    object-fit: cover;
}

.volunteer__data-img {
    width: 100%;
    max-width: 104px;
    -o-object-fit: cover;
    object-fit: cover;
}

.volunteer__data-img-box {
    max-width: 104px;
    min-width: 104px;
    height: 104px;
    width: 104px;
}

.volunteer__data-text {
    color: var(--main-txt-color);
    font-size: 14px;
    margin-left: 16px;
}

.volunteer__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
    text-align: center;
}

.volunteer__wrapp {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    width: 100%;
    margin: 0 auto 64px;
    border-radius: 16px;
}

.volunteer__text {
    font-size: 20px;
    line-height: 160%;
    padding-bottom: 24px;
    font-weight: 600;
    text-align: center;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}

.volunteer__email {
    color: var(--main-txt-color);
    font-size: 14px;
}

.volunteer__email-title {
    font-weight: 700;
    color: var(--main-txt-color);
}

.volunteer__email-wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px;
}

.volunteer__content-btn {
    max-width: 193px;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid var(--main-txt-color);
    background: var(--accent-btn-color);
    color: var(--main-txt-color);
    font-size: 24px;
}
.volunteer__content-btn.orange {
    background: linear-gradient(180deg, #ff3e00 0%, #f56a3d 100%);
    color: white;
}

.volunteer__content-btn.blue {
    background: linear-gradient(180deg, #0071ff 0%, #5e9ff5 100%);
    color: white;
}

.volunteer__content-btn-wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

.volunteer__content-btn:hover {
    filter: saturate(2);
}

@media (min-width: 567px) {
    .volunteer__btns-switch {
        display: none;
    }

    .volunteer__content.first-block {
        display: block;
    }

    .volunteer__content.second-block {
        display: block;
    }
}

@media (max-width: 700px) {
    .volunteer-content.first-block {
        display: none;
    }

    .volunteer-content.second-block {
        display: none;
    }
}

@media (max-width: 568px) {
    .volunteer__footer-mob {
        display: none;
    }

    .volunteer__footer-desk {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        background: #F6F6F6;
        height: 40px;
    }

    .volunteer__footer-desk-list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .volunteer__footer-desk-item {
        line-height: 100%;
        margin-right: 32px;
    }

    .volunteer__footer-copyright {
        width: auto;
    }

    .volunteer__wrapp {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 432px) {
    .volunteer__footer {
        width: 100%;
    }

    .volunteer__footer-mob {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .volunteer__footer-mob-list {
        background: #e0e0e0;
        width: 100%;
        line-height: 100%;
    }

    .volunteer__footer-desk {
        display: none;
    }

    .volunteer__footer-copyright {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .volunteer__email {
        font-size: 12px;
    }
}
.footer {
  padding: 16px 0;
  background: #131111;
  color: var(--main-txt-color);
  border-top: 1px solid #ffffff;

  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  display: grid;
  grid-column-gap: 45px;
  grid-row-gap: 16px;
}

.footer-links-item:nth-child(2) {
  grid-row: 1 /2;
  grid-column: 1 / 2;
}

.footer-links-item:nth-child(3) {
  grid-row: 1 /2;
  grid-column: 2 / 3;
}

.footer-links-item-link {
  color: inherit;
}
.footer-links-item-link:hover {
  text-decoration: underline;
}



@media screen and (min-width: 768px) {
  .footer {
    padding: 24px 0;
  }
  .footer-container {
    width: 753px;
  }
  .footer-links {
    grid-template-columns: auto 183px 115px;
    grid-column-gap: 24px;
  }
  .footer-links-item:nth-child(1) {
    grid-column: 1 / 2;
  }
  .footer-links-item:nth-child(2) {
    grid-column: 2 / 3;
  }
  .footer-links-item:nth-child(3) {
    grid-column: 3 / 4;
  }
  .footer-links-item:nth-child(4) {
    grid-column: 4 / 4;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 40px 0;
    font-size: 18px;
  }
  .footer-container {
    width: 1210px;
  }
  .footer-links {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 83px;
  }
}
.legal {
  padding-top: 64px;
  padding-bottom: 64px;
}

.legal h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.legal h2 {
  font-size: 20px;
  margin: 24px 0;
  text-transform: uppercase;
}

.legal h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

dl {
  display: inline;
  font-weight: bold;
  color: var(--accent-red-txt-color);
}

dd {
  display: inline;
  margin-inline-start: 10px;
}

dd::before {
  content: " \2014 ";
  padding-right: 10px;
}

.legal ol li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 14px;
}

.legal ol li ol {
  padding-left: 24px;
}

.legal ol li ul {
  padding-left: 24px;
  list-style: circle;
}

.legal ol li ul li {
  margin-bottom: 0;
}

.legal-accent {
  font-weight: bold;
  color: var(--accent-red-txt-color);
}

.legal p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 14px;
}

.legal a {
  color: var(--accent-blue-txt-color);
}

.legal a:hover {
  color: var(--accent-blue-txt-color);
}

.legal a:visited {
  color: var(--accent-blue-txt-color);
}

.annex {
  font-weight: bold;
  text-align: right;
}

.agree {
  text-align: center;
}

.agree > span {
  display: block;
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .legal {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .legal h1 {
    font-size: 64px;
    margin-bottom: 120px;
  }

  .legal h2 {
    font-size: 45px;
    margin-bottom: 40px;
  }

  .legal h3 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .legal ol li {
    font-size: 24px;
  }

  .legal p {
    font-size: 24px;
  }
}
