.section-partners {
  position: relative;
}

.logo-partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  margin: 0 auto;
}


.logo-partners .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-item .partners-img {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 768px) {
  .logo-partners {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
