.section-reviews {
  position: relative;
}

.swiper-review {
  width: 343px;
  height: 222px;
  overflow: hidden;
}

.swiper-review .swiper-slide img {
  width: 100%;
  cursor: pointer;
}

.increasing-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 27;
  /* padding-top: 180px; */
  background: rgba(10, 9, 9, 0.80);
  overflow: hidden;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform var(--transition-dur-and-func);
}

.hidden-backdrop{
  transform: scale(0);
}

.body-no-scroll {
  overflow: hidden;
}

.increased-photo {
  width: 280px;
  height: 420px;
  object-fit: cover;

  border-radius: 16px;
  overflow: hidden;
  pointer-events: none;
}

.increased-photo img {
  width: 100%;
}
.increasing-backdrop::after{
  content: " ";
  width: 24px;
  height: 24px;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M1 25.0001L25 1.00004' stroke='white' stroke-width='1.69706' stroke-linecap='round'/%3E%3Cpath d='M25 25.0001L1 1.00004' stroke='white' stroke-width='1.69706' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -224px;
  right: -7px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .swiper-review {
    width: 728px;
    height: 450px;
  }

  .increased-photo {
    width: 400px;
    height: 600px;
  }

  .increasing-backdrop::after {
    top: -312px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .swiper-review {
    width: 1360px;
    height: 484px;
  }

}
