.contacts-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.contacts-list-item-link {
  display: block;
  width: 40px;
  height: 40px;
}

.instagram {
  transition: filter var(--transition-dur-and-func);
}

.instagram:hover {
  filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.40));
}
.instagram:hover img {
  filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.40));
}

.telegram {
  transition: filter var(--transition-dur-and-func);
}

.telegram:hover {
  filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.40));
} 
.telegram:hover img {
  filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.40));
} 

.contacts-list-item-link img {
  border-radius: 19px;
}



@media screen and (min-width: 768px) {
  .contacts-list {
    gap: 13px;
  }

  .contacts-list-item-link {
    width: 68px;
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-list {
    gap: 24px;
  }

  .contacts-list-item-link {
    width: 91px;
    height: 91px;
  }
}