.logo-partners {
    display: grid;
    grid-template-columns: 164px 164px;
    grid-template-rows: 139px 55px  50px 116px 55px;
    gap: 30px 16px;
    justify-items: center;
    align-items: center;
}

.partners-item .partners-img {
    width: inherit;
    
}

.logo-multimall {
    width: 152px ;
}

.logo-actualne {
    width: 150px;
    justify-self: end;
}

.logo-multiplex {
    grid-row: 4;
    justify-self: start;
}

.logo-eco-kpi {
    grid-row: 4;
    grid-column: 2;
}

.logo-respublika-park {
    grid-row: 3;
    grid-column: 1;
}

.logo-rivermall {
    width: 163px;
    grid-row: 3;
    grid-column: 2;
}

.logo-mardal-cables {
    grid-row: 2;
    grid-column: 1;
}

.logo-nova-poshta {
    width: 163px;
    grid-row: 2;
    grid-column: 2;
}

.logo-kyiv-komun-s {
    grid-row: 5;
    grid-column: span 2;
    
}

/* MOBILE */
@media screen and (min-width: 375px) {

}

/* TABLET */
@media screen and (min-width: 768px) {
    .logo-partners {
        grid-template-columns: repeat(12, 1fr);
        row-gap: 50px;
    }

   

  
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    .logo-partners {
        row-gap: 100px;
    }
	
    
}