.hero {

}

.hero-container {
	width: 1200px;
	display: flex;
	flex-direction: row;
margin-left: auto;
margin-right: auto;
}

.hero-text {
width: 50%;
}

.hero-donate-btn {
	
}

.hero-image {
	width: 50%;
	height: 470px;
	background: url(../images/powerkit-hero-optimize-300.gif), black ;
/*	background: url(../images/powerkit-hero.gif) ;*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 15px;
}