.section-reviews {
  position: relative;
}

.swiper-review {
  width: 343px;
  height: 222px;
  overflow: hidden;
}

.swiper-review .swiper-slide img {
  width: 100%;
}

.increasing-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 27;
  padding-top: 100px;
  background: rgba(10, 9, 9, 0.80);

  pointer-events: all;

}

.photo {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 16px;
  pointer-events: none;
  /* transform: scale(); */
}

/* TABLET */
@media screen and (min-width: 768px) {
  .swiper-review {
    width: 728px;
    height: 450px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .swiper-review {
    width: 1360px;
    height: 484px;
  }
}
