.section {
	padding-bottom: 40px;
}

.section-header {
	font-family: Inter, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main-text-color);
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.about-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.about-paragraph {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 29px;
}

.swiper {
	width: 600px;
	height: 300px;
  }

.link-see-more {
	color: var(--main-text-color);
	font-size: 14px;
}

.link-see-more:hover {
	color: white;
}

/* MOBILE */
@media screen and (min-width: 375px) {

}

/* TABLET */
@media screen and (min-width: 768px) {

}

/* DESKTOP */
@media screen and (min-width: 1440px) {

	
}