.contacts-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.contacts-list-item-link {
  display: block;
  width: 40px;
  height: 40px;
}

/* .instagram {
  transition: filter var(--transition-dur-and-func);
} */

/* .instagram:hover,
.instagram:hover img, 
.telegram ,
.telegram:hover, 
.telegram:hover img {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */
  
.contact-list-svg {
  width: inherit;
  height: inherit;
  border-radius: 8px;
}

.contact-list-svg-image {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* .instagramsvg {
  width: 40px;
} */

/* .contacts-list-item-link img {
  border-radius: 8px;
} */

/* Mouse, touchpad */
@media (pointer: fine) {

    .instagram-lnk:hover {
    -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 0.8));
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.80));
    }
    .telegram-lnk:hover {
      -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 0.8));
    filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.80));
    } 
    @media screen and (max-width: 767px) {
      .instagram-lnk:active,
      .instagram-lnk:focus,
      .instagram-lnk:visited,
      .telegram-lnk:active,
      .telegram-lnk:visited,
      .telegram-lnk:focus {
        filter: none; 
      }
    }
}

/* Smartphones, devices with a touch screen that are operated with fingers */
@media (pointer: coarse) {
  .instagram:hover {
  filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.80));
  -webkit-filter: drop-shadow(0px 0px 16px rgba(253, 253, 253, 0.8));
  }
  /* .instagram:hover img {
  filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.40));
  } */
  .telegram:hover {
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.80));
    -webkit-filter: drop-shadow(0px 0px 32px rgba(253, 253, 253, 0.8));
  } 
  /* .telegram:hover img {
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 0.40));
  }  */
}

@media screen and (min-width: 768px) {
  .contacts-list {
    gap: 13px;
  }

  .contacts-list-item-link {
    width: 68px;
    height: 68px;
  }

  .svgtag {
    width: inherit;
    height: inherit;
    border-radius: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-list {
    gap: 24px;
  }

  .contacts-list-item-link {
    width: 91px;
    height: 91px;
  }

  .contacts-list-item-link img {
    border-radius: 19px;
  }
}