.hero {
  padding: 40px 0;
}

.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  bottom: 0;
  right: -40vw;
  z-index: -1;
  max-width: 900px;
  width: 120%;
}

.hero-text {
  max-width: 70%;
  margin-bottom: 40px;
}

.hero-box {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.hero-donate-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  max-width: 460px;
  width: 100%;
  /*margin: 0 auto;*/
}

.hero-donate-btn {
  height: 56px;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 10px;
  background-color: var(--default-btn-color);
  color: var(--accent-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-dur-and-func),
  background-color var(--transition-dur-and-func);
}

.hero-donate-btn span {
  text-align: center;
}

.hero-donate-btn:hover,
.hero-donate-btn:focus {
  background-color: var(--accent-btn-color);
  color: var(--default-btn-color);
}

.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 12px;
}

.hero-moto {
  font-size: 14px;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .hero-donate-btns {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    max-width: 250px;
    margin: 0 auto;
  }
  .hero-box {
    margin-bottom: 24px;
  }
  .hero-video {
    right: -38vw;
    bottom: auto;
    top: -5vh;
    width: 110%;
  }
}

@media screen and (min-width: 768px) {
  .hero-video {
    right: -26vw;
    width: 100%;
  }

  .hero-text {
    padding-bottom: 40px;
  }

  .hero-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    padding: 88px 0!important;
  }

  .hero-video {
    right: -10vw;
  }

  .hero-box {
    position: relative;
  }

  .hero-title {
    font-size: 45px;
    margin-bottom: 24px;
  }

  .hero-moto {
    max-width: 607px;
    font-size: 18px;
    line-height: 1.5;
  }
}

/* COOKIE  */
.modal-cookie {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 365px;
  height: 45px;
  padding: 12px 16px;

  z-index: 100;
  position: fixed;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  border-radius: 6px;
  opacity: 1;
  transition: bottom var(--transition-dur-and-func),
              background-color var(--transition-dur-and-func),
              opacity var(--transition-dur-and-func);
}

.hide-cookie-modal {
  background-color: transparent;
  opacity: 0;
  bottom: -60px;
}

.modal-content-img {
  margin-right: 6px;

  width: 19px;
  height: 17px;
}

.modal-content-text {
  margin-right: auto;

  font-size: 12px;
  line-height: 1.2;
  color: #010101;
}

.modal-content-btn {
  padding: 5.5px 8.5px;
  font-weight: 500;
  font-size: 8.4px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #010101;
  background: #ffffff;
  border: 1px solid #f56a3d;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 80px 0;
  }

  .modal-cookie {
    width: 476px;
    left: 49%;
    height: 61px;
    padding: 16px 20px 16px 16px;
  }

  .modal-content-img {
    margin-right: 7px;
    width: 38px;
    height: 33px;
  }

  .modal-content-text {
    font-size: 14px;
  }

  .modal-content-btn {
    padding: 8px 17px;
    font-size: 10.5px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-cookie {
    width: 552px;
    height: 79px;
    padding: 17px 24px 17px 20px;
  }

  .modal-content-img {
    margin-right: 10px;
    width: 51px;
    height: 45px;
  }

  .modal-content-text {
    font-size: 16px;
  }

  .modal-content-btn {
    padding: 11px 22.5px;
    font-size: 14px;
  }
}
