

.container {
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 920px){

.container {
    width: 920px;


}
/*end of 920 media query*/
}

@media (min-width: 1280px){
.container {
    width: 1280px;
}
/*end of 1280 media query*/
}