:root {
  /* Font colors */
  --main-txt-color: #e6e6e6;
  --accent-red-txt-color: #f56a3d;
  --accent-blue-txt-color: #5e9ff5;

  /* Background colors */
  --dark-bg-color: #010101;
  /* --dark-bg-color: #0a0909;
  --dark-bg-color: #090909; */

  /* Button colors */
  --default-btn-color: #ffffff;
  --accent-btn-color: #5e9ff5;

  /* Fonts */
  --main-font: "Inter", sans-serif;

  /* Animation */
  --transition-dur-and-func: 400ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Shadow */
  --hover-shadow: (0px 0px 16px rgba(253, 253, 253, 0.28));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-style: inherit;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  top: 50px;
  transform: translateX(200%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: all var(--transition-dur-and-func);
}

/* General styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  background-color: var(--dark-bg-color);
}

.section {
  margin: 0 auto;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  padding: 0 16px;
}

.text-accent {
  color: var(--accent-red-txt-color);
}

.button-donate {
  background-color: #fff;
  color: var(--accent-btn-color);
  border: 0.5px solid #ffffff;
}

.button-donate:hover,
.button-donate:focus {
  background-color: var(--accent-btn-color);
  color: var(----default-btn-color);
  border: 0.5px solid var(--accent-btn-color);
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    padding: 0 16px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }

  .section {
    padding-bottom: 80px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 40px;
  }
}
