.legal-text-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.legal-header-1 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
}

.legal-header-2 {
    font-size: 48px;
    margin: 80px 0;
}

.legal-accent {
    font-weight: bold;
}

.legal-text-container p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.legal-text-container a {
    color: var(--accent-blue-txt-color);
}

.legal-text-container a:hover {
    color: var(--accent-blue-txt-color);
}

.legal-text-container a:visited {
    color: var(--accent-blue-txt-color);
}

.dodatok {
    font-weight: bold;
    text-align: right;
}

.agree {
    text-align: center;
}

.agree>span {
    display: block;
}

/* TABLET */
@media screen and (min-width: 768px) {

}

/* DESKTOP */
@media screen and (min-width: 1440px) {

	
}