</main>
<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-links">
      <li class="footer-links-item">
		  <p>©2023, Powerkit </p>
      </li>
      <li class="footer-links-item">
		<a data-lng="footer-privacy-policy" href="../privacy-policy.php" class="footer-links-item-link">Політика конфіденційності </a>
      </li>
      <li class="footer-links-item">
		<a data-lng="footer-public-offer" href="../public-offer.php" class="footer-links-item-link">Публічна оферта </a>
      </li>
    </ul>
  </div>
</footer>
<script src="
https://cdn.jsdelivr.net/npm/swiper@9.3.2/swiper-bundle.min.js
"></script>
<script src="../js/swiper.js" type="module"></script>
<script src="../js/burger-menu.js" type="module"></script>
<script src="../js/counter.js" type="module"></script>
<script src="../js/dropdown.js" type="module"></script>
<script src="../js/modal-cookie.js" type="module"></script>
<script src="../js/dom-slider.js" type="module"></script>
<script src="../js/faq.js" type="module"></script>
<script src="../js/basic-localization.js" type="module"></script>
<script src="../js/current-domine.js" type="module"></script>
</body>
</html>