<body>
  <header class="header">
    <div class="container header-container">
      <div class="logo">
        <a href="./"><img class="header-logo" src="../images/header/logo-powerkit.svg" alt="PowerKit logo"/></a>
      </div>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li>
            <a data-lng="header-menu-about" href="../#about" class="header-link">Про нас</a>
          </li>
          <li>
            <a data-lng="header-menu-products" href="../#products" class="header-link">Продукція</a>
          </li>
          <li>
            <a data-lng="header-menu-reviews" href="../#reviews" class="header-link">Звіти</a>
          </li>
          <li>
            <a href="../#faq" class="header-link">FAQ</a>
          </li>
          <li>
            <a data-lng="header-menu-contacts" href="#contacts" class="header-link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="header-menu-side">
        <div class="dropdown header-menu-dropdown">
          <ul class="dropdown-list">
            <li class="dropdown-list-item" data-value="ua">UA</li>
            <li class="dropdown-list-item" data-value="en">EN</li>
          </ul>
          <button
            type="button"
            class="dropdown-button"
            aria-label="Open localization menu"
          ></button>
        </div>
        <button
          type="button"
          id="btn"
          class="js-open-menu header-burger-btn"
          aria-label="Open mobile menu"
        >

          <div class="burger">
            <span></span>
          </div>
        </button>
        <a
          data-lng="header-btn-donat"
          href="/volunteer.php"
          target="_blank"
          class="header-btn-donat"
          >Долучитись</a
        >
      </div>

      <div class="js-menu-container menu visually-hidden">
        <nav class="menu-nav">
          <ul class="menu-list">
            <li>
              <a data-lng="header-menu-about" href="../#about" class="menu-link">Про нас</a>
            </li>
            <li>
              <a data-lng="header-menu-products" href="../#products" class="menu-link">Продукція</a>
            </li>
            <li>
              <a data-lng="header-menu-reviews" href="../#reviews" class="menu-link">Звіти</a>
            </li>
            <li><a href="../#faq" class="menu-link">FAQ</a></li>
            <li>
              <a data-lng="header-menu-contacts" href="#contacts" class="menu-link">Контакти</a>
            </li>
            <li>
              <a data-lng="header-menu-donat" href="https://send.monobank.ua/jar/9XUQiiaqJi" target="_blank" class="menu-link menu-btn-donat">Донат</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>

