<section class="section">
<div class="container">
  <h2 class="section-header">Про нас пишуть</h2>
  <ul class="logo-box">
    <li class="logo-item">
      <a href="https://www.stb.ua/dobre/ru/issue/druzya-ajtishniki-izgotavlivayut-poverbanki-iz-akkumulyatorov-elektronnyh-sigaret/ " class="logo-link">
        <img src="../images/section-articles/STB_logo.svg" alt="Logo STB" srcset="" class="logo-img">
      </a>
      </li>
    <li class="logo-item">
      <a href="https://fb.watch/d4Sy3Kt1zz/" class="logo-link">
        <img src="../images/section-articles/intb.png" alt="" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://media.zagoriy.foundation/velyka-istoriya/energiya-dlya-vijska-yak-komanda-powerkit-vygotovlyaye-paverbanky-na-front/" class="logo-link">
        <img src="../images/section-articles/media-velykyh-istorii.png" alt="" srcset="" class="logo-img"></a></li>
    <li class="logo-item">
      <a href="https://www.channelnewsasia.com/world/ukraine-cyber-group-e-cigarettes-power-banks-frontline-soldiers-charge-phones-radios-russia-3203801 " class="logo-link">
        <img src="../images/section-articles/cna-logo.png" alt="" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://www.youtube.com/watch?v=gAOHs1tep1I" class="logo-link">
        <img src="../images/section-articles/1_plus_1_logo.svg" alt="" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a
        href="https://www.youtube.com/watch"
        class="logo-link">
        <img src="../images/section-articles/dim.svg" alt="лого дім" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://www.arte.tv/de/videos/111083-010-A/tracks-east/" class="logo-link">
        <img src="../images/section-articles/arte.svg" alt="" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://vechirniy.kyiv.ua/news/66905/" class="logo-link">
        <img class="logo-img" src="/images/section-articles/vechirnii-kyiv.svg">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://life.liga.net/istoriyi/article/ne-vybrasyvayte-vykurennuyu-elektro-sigaretu-aytishniki-sdelayut-iz-nee-poverbank-dlya-vsu" class="logo-link">
        <img src="../images/section-articles/Liga.net.svg" alt="" srcset="" class="logo-img">
      </a>
    </li>
    <li class="logo-item">
      <a href="https://ps.informator.ua/2022/05/13/ajtishky-pereroblyuyut-elektronni-sygarety-na-paverbanky-dlya-zsu-yak-doluchylysya-hlopczi-z-pereyaslava/" class="logo-link">
        <img class="logo-img" src="/images/section-articles/informat.png" >
      </a>
    </li>
  </ul>
</div>
</section>
