<section class="volunteer__select">
    <div class="container-volunteer">
        <h1 class="volunteer__title">
            Долучайся до важливої справи та отримуй шанс виграти чудові призи!
        </h1>
        <p class="volunteer__subtitle"></p>
        <p class="volunteer__subtitle">
            Розмісти коробку для збору одноразових сигарет у закладах або житлових комплексах України та допомагай нашому війську.
        </p>
        <div class="volunteer__inner">
            <ul class="volunteer__btns-switch">
                <li class="volunteer__btns-switch-item active" data-btn-type="support" id="support">
                    <span class="orange">Розмістити коробку</span>

                </li>
                <li class="volunteer__btns-switch-item" data-btn-type="help" id="help">
                    <span class="blue">Відправити цигарки</span>
                </li>
            </ul>
            <div class="volunteer__wrapp">
                <div class="volunteer__content active first-block" data-content-type="support">
                    <div class="volunteer__inner">
                        <div class="volunteer__box">
                            <h2 class="volunteer__content-title">
                                Хочу розмістити коробку!
                            </h2>
                            <ul class="volunteer__list">
                                <li class="volunteer__list-item">
                                    Встанови бокс із нашим логотипом у закладі або житловому комплексі.
                                </li>
                                <li class="volunteer__list-item">
                                    Зроби фото місця з боксом.
                                </li>
                                <li class="volunteer__list-item">
                                    Заповни анкету щоб твій пункт додався на нашу мапу.
                                </li>
                                <li class="volunteer__list-item">
                                    Коли бокс заповниться - відправляй нам цигарки. Реквізити Нової Пошти запитай в нашому
                                    <a href="https://instagram.com/uapowerkit" target="_blank" aria-label="Open instagram">Інстаграмі</a> або <a href="https://t.me/uapowerkit" target="_blank" aria-label="Open telegram">Телеграмі</a>.
                                </li>
                            </ul>
                        </div>
                        <div class="volunteer__content-btn-wrapp">
                            <button class="volunteer__content-btn orange" type="submit">
                                Анкета
                            </button>
                        </div>
                    </div>
                </div>
                <div class="volunteer__content second-block" data-content-type="help">
                    <div class="volunteer__inner">
                        <div class="volunteer__box">
                            <h2 class="volunteer__content-title">
                                Відправити цигарки та взяти участь у розіграші!
                            </h2>
                            <ul class="volunteer__list">
                                <li class="volunteer__list-item">
                                    Коли ти зібрав 30 або більше електронних сигарет - відправ їх нам по Новій Пошті.
                                    Реквізити Нової Пошти запитай в нашому
                                    <a href="https://instagram.com/uapowerkit" target="_blank" aria-label="Open instagram">Інстаграмі</a> або <a href="https://t.me/uapowerkit" target="_blank" aria-label="Open telegram">Телеграмі</a>.
                                </li>
                                <li class="volunteer__list-item">
                                    Надішли нам ТТН через цю форму, щоб взяти участь у розіграші призів від PowerKit.
                                </li>
                                <li class="volunteer__list-item">
                                    Щомісяця ми випадковим чином обиратимемо одного переможця!
                                    Чим більше сигарет ти збереш, тим вищі твої шанси на виграш!
                                </li>
                            </ul>
                        </div>
                        <div class="volunteer__content-btn-wrapp">
                            <button class="volunteer__content-btn blue" type="submit">
                                Розіграш
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
