<section id="reviews" class="section">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper-review">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide"><picture>
          <source 
            media="(min-width: 1440px)" 
            srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
            type="image/webp">
          <source 
            media="(min-width: 1440px)" 
            srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
            type="image/jpeg">
          <source 
            media="(min-width: 768px)" 
            srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
            type="image/webp">
          <source 
            media="(min-width: 768px)" 
            srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
            type="image/jpeg">
          <source 
            media="(min-width: 320px)" 
            srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
            type="image/webp">
          <source 
            media="(min-width: 320px)" 
            srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
            type="image/jpeg">
          <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
        </picture></div>
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.webp 1x, ../images/section-about/d-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 1440px)" 
              srcset="../images/section-about/d-frame0.jpg 1x, ../images/section-about/d-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.webp 1x, ../images/section-about/t-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 768px)" 
              srcset="../images/section-about/t-frame0.jpg 1x, ../images/section-about/t-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.webp 1x, ../images/section-about/m-frame0@2x.webp 2x"  
              type="image/webp">
            <source 
              media="(min-width: 320px)" 
              srcset="../images/section-about/m-frame0.jpg 1x, ../images/section-about/m-frame0@2x.jpg 2x"  
              type="image/jpeg">
            <img src="../images/section-about/d-frame0.jpg" type="image/jpeg" >
          </picture>
        </div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
    </div>
    <a class="link-see-more" href="https://instagram.com/uapowerkit" target="_blank">Дивитись більше &rarr;</a>
  </div>
</section>
