<section class="contacts section section-contacts">
  <a id="contacts" class="ancor"></a>
  <div class="container">
    <h2 data-lng="contacts-title" class="contacts-title section-header">Зв'язатись з нами</h2>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <a
          href="https://instagram.com/uapowerkit"
          target="_blank"
          aria-label="Open instagram"
          class="contacts-list-item-link instagram"
        >
        <img src="../images/section-contact/instagram.svg" alt="instagram Powerkit" >
          
        </a>
      </li>
      <li class="contacts-list-item">
          <a
            href="https://t.me/uapowerkit" 
            target="_blank"
            aria-label="Open telegram"
            class="contacts-list-item-link telegram"
          >
           <img src="../images/section-contact/telegram.svg" alt="Telegram Powerkit">
          </a>
      </li>
    </ul>
  </div>
</section>
