<section class="contacts section section-contacts">
  <a id="contacts" class="ancor"></a>
  <div class="container">
    <h2 data-lng="contacts-title" class="contacts-title section-header">Зв'язатись з нами</h2>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <a
          href="https://instagram.com/uapowerkit"
          target="_blank"
          class="contacts-list-item-link instagram-lnk"
          aria-label="Open instagram"
        >
        <!-- <img src="../images/section-contact/instagram.svg" alt="instagram Powerkit" > -->
          <svg class="contact-list-svg" width="40" height="40">
            <image href="../images/section-contact/instagram.svg" class="contact-list-svg-image " width="40" height="40" />
          </svg>
        </a>
      </li>
      <li class="contacts-list-item">
          <a
            href="https://t.me/uapowerkit" 
            target="_blank"
            class="contacts-list-item-link telegram-lnk"
            aria-label="Open telegram" >
          <svg class="contact-list-svg tg-svg" width="40" height="40">
            <image href="../images/section-contact/telegram-l.svg" class="contact-list-svg-image tg-img " width="40" height="40" />
          </svg>
           <!-- <img src="../images/section-contact/telegram.svg" alt="Telegram Powerkit"> -->
          </a>
      </li>
    </ul>
  </div>
</section>
