<section class="section section-partners">
    <a id="partners" class="ancor"></a>
<div class="container container-underline">
  <h2 class="section-header">Партнери</h2>
<ul class="logo-partners">
  <li class="partners-item logo-multimall">
    <a href="https://rivermall.ua/" class="logo-link">
      <img src="../images/section-partners/logo_cosmo_multimall.svg" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-actualne">
    <a href="https://www.instagram.com/aktualneoukrajine/ " class="logo-link">
      <img src="../images/section-partners/aktualne_ua.png" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-multiplex">
    <a href="https://multiplex.ua/ " class="logo-link">
      <img src="../images/section-partners/logo_multiplex.svg" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-eco-kpi">
    <a href="https://instagram.com/ecokpi" class="logo-link">
      <img src="../images/section-partners/Logo-Eco-KPI2-1.png" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-respublika-park">
    <a href="https://respublikapark.com.ua/" class="logo-link">
      <img src="../images/section-partners/respublika-park.png" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-rivermall">
    <a href="https://rivermall.ua/" class="logo-link">
      <img src="../images/section-partners/rivermall.svg" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-mardal-cables">
    <a href="https://mardalcables.com/" class="logo-link">
      <img src="../images/section-partners/mardal_cables.svg" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-nova-poshta">
    <a href="https://novaposhta.ua/" class="logo-link">
      <img src="../images/section-partners/nova-poshta.svg" alt="" class="partners-img">
    </a>
  </li>
  <li class="partners-item logo-kyiv-komun-s">
    <a href="https://kks.kyiv.ua/ " class="logo-link">
      <img src="../images/section-partners/kyiv-komun-service.svg" alt="" class="partners-img">
    </a>
  </li>
</ul>
</div>
</div>
</section>
