<section class="hero section">
    <div class="container hero-container">
        <div class="hero-box">
            <div class="hero-text">
                <h1 data-lng="hero-title" class="hero-title">
                    Ми команда <span class="text-accent">PowerKit</span>, що створює
                    безкоштовні зарядні пристрої для ЗСУ
                </h1>
                <p data-lng="hero-moto" class="hero-moto">
                    Наші повербанки виготовляються із використаних електронних сигарет та
                    передаються воїнам ЗСУ абсолютно безкоштовно.
                </p>
            </div>
            <video playsinline loop autoplay preload muted id="myVideo" class="hero-video">
                <source src="../images/hero-video-optim-medium.mp4" type="video/mp4"/>
            </video>
            <div class="hero-donate-btns">
                <a class="hero-donate-btn" href='https://send.monobank.ua/jar/9XUQiiaqJi' target='_blank'>
                    <span data-lng="hero-donate" class="hero-donate">Донат</span>
                </a>
                <a class="hero-donate-btn" href='../map.php'>
                    <span data-lng="hero-dispose" class="hero-dispose">Здати e-цигарки</span>
                </a>
            </div>
        </div>
    </div>

    <!-- COOKIE -->
    <div class="modal-cookie hide-cookie-modal">
        <!-- <div class="modal-content"> -->
        <img
                class="modal-content-img"
                src="../images/section-hero/cookie.png"
                alt="cookie"
        />
        <p data-lng="coockies-msg" class="modal-content-text">
            Ми використовуємо файли
            <a href="./coockies-policy.php">cookie</a>.
        </p>
        <button data-lng="coockies-btn" class="modal-content-btn">
            Погоджуюсь
        </button>
        <!-- </div> -->
    </div>
</section>
