<section class="section donate down">
  <div class="container donate-container down">
    <h2 data-lng="donate-down-title" class="donate-title down">
      Зроби свій внесок у боротьбу зі злом
    </h2>
    <a
      data-lng="donate-down-btn"
      href="https://send.monobank.ua/jar/9XUQiiaqJi"
      target="_blank"
      class="donate-btn down"
      >Задонатити</a
    >
    <p data-lng="donate-down-text" class="donate-text down">
      Задонать PowerKit на комплектуючі до повербанків
    </p>
  </div>
</section>
