<section id="faq" class="section">
<div class="container">
  <h2 class="section-header faq-header">FAQ</h2>
<ul class="faq-box">
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">1. Хто ми і що ми робимо? </p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>
    </div><p class="faq-box-item-answer">Ми команда волонтерів, згуртованих задля однієї мети - виготовлення безкоштовних повербанків для військових ЗСУ. В якості елементів живлення ми використовуємо акумулятори із використаних електронних сигарет.
    </p>

   </li>
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">2. Маю використану електронну сигарету, як вам передати її? </p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>    </div><p class="faq-box-item-answer">Свої цигарки ви можете здавати в таких ТЦ Києва - River Mall, Respublika, Cosmo Multimall та у всіх кінотеатрах Multiplex в Києві. Шукайте відповідні бокси на інфостійках або на касах.</p>
   
  </li>
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">3. Я з іншого міста, як я можу передати вам свої цигарки?</p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>    </div><p class="faq-box-item-answer">Ви можете відправити нам свої цигарки за допомогою Нової Пошти. Напишіть нам в Інстаграм або Телеграм, ми надамо вам реквізити для відправки.
    </p>

   </li>
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">4. Хочу допомогти безпосередньо, що мені робити? </p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>    </div><p class="faq-box-item-answer">Наш проект завжди відкритий до нових волонтерів та їх ідей. Якщо хочете допомогти проекту своєю працею - напишіть, будь ласка, нам в Інстаграм або Телеграм.
      Для виготовлення повербанків ми використовуємо різні комлпектуючі - від дротів та мікросхем до каналізаційних труб. Також елементи корпусів ми друкуємо на 3D принтерах. Якщо ви хочете допомогти нам із комплектуючими - напишіть нам, будь ласка, в Інстаграм або Телеграм для подальшої комунікації.
      </p>

   </li>
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">5. Я військовий, як мені замовити повербанк?</p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>    </div><p class="faq-box-item-answer">На нашій Інстаграм сторінці ми публікуємо посилання на Google форму, зазвичай це 1 раз на 2 тижні. За допомогою цієї форми військові замовляють повербанки. Протягом 2 тижнів ми опрацьовуємо всі замовлення та відправляємо повербанки всім адресатам.
    </p>

   </li>
   <li class="faq-box-item">
    <div class="faq-box-item-topline">
      <p class="faq-box-item-topline-question">6. Як я можу проконтролювати витрачання коштів? </p>
      <button class="faq-box-item-topline-btn">
        <svg>
          <use href="../images/section-faq/symbol-defs.svg#icon-faq"></use>
        </svg>
      </button>    </div><p class="faq-box-item-answer">Всі донати ми використовуємо виключно на закупівлю комплектуючих та інші супутні витрати проекту. Наприклад бензин для генератору або газ для обігріву приміщення. Кожен тиждень ми публікуємо фотозвіти від військових, які щойно отримали свій повербанк. Також ми публікуємо фотозвіти з закупленими комплектуючим.
    </p>

   </li>
</ul>
</div>
</section>