<section class="section donate top" id="products">
  <div class="container donate-container top">
    <h2 data-lng="donate-top-title" class="donate-title top">
      Хочеш допомогти виготовляти
      <span class="text-accent">безкоштовні</span> повербанки для ЗСУ?
    </h2>
<!--    <p data-lng="donate-top-text" class="donate-text top">-->
<!--      Задонать на виробництво повербанків-->
<!--    </p>-->
    <a
      data-lng="donate-top-btn"
      href="/volunteer.php"
      target="_blank"
      class="donate-btn top"
      >Долучитись</a
    >
  </div>
</section>
