<section class="section section-partners">
    <a id="partners" class="anchor"></a>
    <div class="container container-underline">
        <h2 data-lng="partners-title" class="section-header">Партнери</h2>
        <ul class="logo-partners">
            <li class="partners-item">
                <a href="https://cosmo-multimall.com/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/cosmo-multimall.png" alt="Cosmo multimall logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://www.instagram.com/aktualneoukrajine/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/aktualne-ukraine.png" alt="Aktualne ua logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://recycle.com.ua/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/CUV.png" alt="Nova poshta logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://multiplex.ua/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/multiplex.png" alt="Multiplex logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://instagram.com/ecokpi" target="_blank" class="logo-link small" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/eco-kpi.png" alt="Eco KPI logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://respublikapark.com.ua/" target="_blank" class="logo-link small" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/respublika.png" alt="Respublica logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://novaposhta.ua/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/nova-post.png" alt="Nova poshta logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://brsm-nafta.com/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/brsm.png" alt="Nova poshta logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://azs.ukrnafta.com/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/ukrnafta.png" alt="Mardal cables logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://mardalcables.com/" target="_blank" class="logo-link" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/mardal-cables.png" alt="Mardal cables logo" class="partners-img">
                </a>
            </li>
            <li class="partners-item">
                <a href="https://rivermall.ua/" target="_blank" class="logo-link small" aria-label="Open partners website">
                    <img src="../images/section-partners/logo/rivermall.png" alt="Rivermall logo" class="partners-img">
                </a>
            </li>
        </ul>
    </div>
</section>
