<section class="section">
<div class="container container-underline">
  <h2 class="section-header">Про нас пишуть</h2>
  <div class="logo-box logo-articles">
    <a class="articles-item logo-link logo-stb"  href="https://www.stb.ua/dobre/ru/issue/druzya-ajtishniki-izgotavlivayut-poverbanki-iz-akkumulyatorov-elektronnyh-sigaret/ ">
      <img src="../images/section-articles/STB_logo.svg" alt="Logo STB" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-intb logo-link" href="https://fb.watch/d4Sy3Kt1zz/">
      <img src="../images/section-articles/intb.png" alt="" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-link logo-mvi" href="https://media.zagoriy.foundation/velyka-istoriya/energiya-dlya-vijska-yak-komanda-powerkit-vygotovlyaye-paverbanky-na-front/" >
      <img src="../images/section-articles/media-velykyh-istorii.png" alt="" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-link logo-cna" href="https://www.channelnewsasia.com/world/ukraine-cyber-group-e-cigarettes-power-banks-frontline-soldiers-charge-phones-radios-russia-3203801 " >
      <img src="../images/section-articles/cna-logo.png" alt="" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-link logo-informator" href="https://ps.informator.ua/2022/05/13/ajtishky-pereroblyuyut-elektronni-sygarety-na-paverbanky-dlya-zsu-yak-doluchylysya-hlopczi-z-pereyaslava/" >
      <img class="articles-img" src="/images/section-articles/informat.png" >
    </a>
    
    <a class="articles-item logo-link logo-arte" href="https://www.arte.tv/de/videos/111083-010-A/tracks-east/" >
      <img src="../images/section-articles/arte.svg" alt="" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-link logo-vkyiv" href="https://vechirniy.kyiv.ua/news/66905/" >
      <img class="articles-item articles-img" src="/images/section-articles/vechirnii-kyiv.png">
    </a>
    <a class="articles-item logo-link logo-liga" href="https://life.liga.net/istoriyi/article/ne-vybrasyvayte-vykurennuyu-elektro-sigaretu-aytishniki-sdelayut-iz-nee-poverbank-dlya-vsu" >
      <img src="../images/section-articles/Liga.net.svg" alt="" srcset="" class="articles-img">
    </a>
    <a class=" articles-item logo-link logo-1p1" href="https://www.youtube.com/watch?v=gAOHs1tep1I" >
      <img src="../images/section-articles/1_plus_1_logo.svg" alt="" srcset="" class="articles-img">
    </a>
    <a class="articles-item logo-link logo-dim"   href="https://www.youtube.com/watch" >
      <img src="../images/section-articles/dim.png" alt="лого дім" srcset="" class="articles-img">
    </a>
  </div>
</div>
</section>
