<section class="hero section">
  <div class="container hero-container">
    <div class="hero-text">
      <h1 data-lng="hero-title" class="hero-title">
        Ми команда <span class="text-accent">PowerKit</span>, що створює
        безкоштовні повербанки для ЗСУ
      </h1>
      <p data-lng="hero-moto" class="hero-moto">
        Наші повербанки виготовляються із використаних електронних сигарет та
        передаються воїнам ЗСУ абсолютно безкоштовно. Хочеш допомогти? Задонать
        на комплектуючі.
      </p>
    </div>
    <div>
      <video
        playsinline
        loop
        autoplay
        preload
        muted
        id="myVideo"
        class="hero-video"
      >
        <source src="../images/hero-video-optim-medium.mp4" type="video/mp4" />
      </video>
    </div>
  </div>

  <!-- COOKIE -->
  <div class="modal-cookie visually-hidden">
    <div class="modal-content">
      <img
        class="modal-content-img"
        src="../images/section-hero/cookie.png"
        alt="cookie"
      />
      <p data-lng="coockies-msg" class="modal-content-text">
        Ми використовуємо файли
        <a href="./coockies-policy.php">cookie</a>
      </p>
      <button data-lng="coockies-btn" class="modal-content-btn">
        Погоджуюсь
      </button>
    </div>
  </div>
</section>
