<section class="section-img section">
  <div class="container container-img">
    <h2 data-lng="img-title-h2" class="hidden-element">Приклади повербанків</h2>
    <ul class="img-list">
      <li class="img-item img-item1">
        <div>
          <picture>
            <source
              srcset="
                ../images/section-img/powerbank-17-mA.webp    1x,
                ../images/section-img/powerbank-17-mA@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../images/section-img/powerbank-17-mA.png    1x,
                ../images/section-img/powerbank-17-mA@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="img-item-picture1"
              src="../images/section-img/powerbank-17-mA.png"
              alt="Hайменший повербанк"
            />
          </picture>
        </div>
        <div class="img-item-description">
          <p class="img-item-description-amount">
            <span class="text-accent"> 17.000</span> mAh
          </p>
          <p data-lng="img-description-17mAh" class="img-item-description-text">
            Наш найменший повербанк, з достатньою ємністю, щоб зарядити середній
            смартфон 4 рази. Має USB вихід для зарядки гаджетів та вихід для
            зарядки військових рацій. Може комплектуватись LED стрічкою
            червоного кольору.
          </p>
        </div>
      </li>
      <li class="img-item img-item2">
        <div>
          <picture>
            <source
              srcset="
                ../images/section-img/powerbank-34-mA.webp    1x,
                ../images/section-img/powerbank-34-mA@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../images/section-img/powerbank-34-mA.png    1x,
                ../images/section-img/powerbank-34-mA@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="img-item-picture2"
              src="../images/section-img/powerbank-34-mA.png"
              alt="Повербанк збільшеної ємності"
            />
          </picture>
        </div>
        <div class="img-item-description">
          <p class="img-item-description-amount">
            <span class="text-accent"> 34.000</span> mAh
          </p>
          <p data-lng="img-description-34mAh" class="img-item-description-text">
            Повербанк збільшеної ємності. Також має більші розміри. Його ємності
            буде достатньо, щоб зарядити середній смартфон 8 разів. Повербанк
            обладнаний так само, як і його менший брат на 17.000 mAh.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
