<section class="volunteer__select">
    <div class="container-volunteer">
        <h1 class="volunteer__title">
            lorem ipsum
        </h1>
        <p class="volunteer__subtitle">
            dollar sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris  auctor lorem, non imperdiet odio diam ut lorem.
        </p>
        <div class="volunteer__inner">
            <ul class="volunteer__btns-switch">
                <li class="volunteer__btns-switch-item active" data-btn-type="support" id="support">
                    <span class="orange">TAB One</span>

                </li>
                <li class="volunteer__btns-switch-item" data-btn-type="help" id="help">
                    <span class="blue">TAB Two</span>
                </li>
            </ul>
            <div class="volunteer__wrapp">
                <div class="volunteer__content active first-block" data-content-type="support">
                    <div class="volunteer__inner">
                        <div class="volunteer__box">
                            <h2 class="volunteer__content-title">
                                We need your <span class="orange">help</span>!
                            </h2>
                            <ul class="volunteer__list">
                                <li class="volunteer__list-item">
                                    first item
                                </li>
                                <li class="volunteer__list-item">
                                    second item
                                </li>
                                <li class="volunteer__list-item">
                                    third item
                                </li>
                                <li class="volunteer__list-item">
                                    four item
                                </li>
                            </ul>
                        </div>
                        <div class="volunteer__content-btn-wrapp">
                            <button class="volunteer__content-btn orange" type="submit">
                                Email us
                            </button>
                        </div>
                    </div>
                </div>
                <div class="volunteer__content second-block" data-content-type="help">
                    <div class="volunteer__inner">
                        <div class="volunteer__box">
                            <h2 class="volunteer__content-title">
                                Can you <span class="blue">donate</span>?
                            </h2>
                            <ul class="volunteer__list">
                                <li class="volunteer__list-item">
                                    five item
                                </li>
                                <li class="volunteer__list-item">
                                    six item
                                </li>
                                <li class="volunteer__list-item">
                                    seven item
                                </li>
                            </ul>
                        </div>
                        <div class="volunteer__content-btn-wrapp">
                            <button class="volunteer__content-btn blue" type="submit">
                                Email us
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
