<div id="about" class="section-about">
  <div class="container">
    <h2 class="about-header section-header">Про нас</h2>
    <div class="about-text">
      <p class="about-paragraph">
        Проект PowerKit засновано з перших тижнів повномасштабного вторгнення рф
        в Україну. З самого початку над проектом працювало 5 друзів, згодом наша
        команда розширилась до понад 100 волонтерів з різних міст України та
        інших держав.
      </p>
      <p class="about-paragraph">
        Мета проекту - забезпечити військових ЗСУ безкоштовними, потужними та
        зручними повербанками. Наші повербанки обладнані LED стрічкою червоного
        кольору, виходами USB та спеціальним розʼємом для зарядки військових
        рацій.
      </p>
      <p class="about-paragraph">
        Проект виконує також екологічну функцію, а саме утилізацію електронних
        сигарет. Такі сигарети містять літієві акумулятори, які за своїми
        властивостями підходять для виробництва досить потужних повербанків.
      </p>
    </div>
    <div class="about-gallery">some gallery</div>
  </div>
</div>
