<div class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h1 class="hero-title">
        Ми команда <span class="hero-title-name">PowerKit</span>, що створює безкоштовні повербанки для
        ЗСУ
      </h1>
      <p class="hero-moto">
        Наші повербанки виготовляються із використаних електронних сигарет та
        передаються воїнам ЗСУ абсолютно безкоштовно. Хочеш допомогти? Задонать
        на комплектуючі.
      </p>
    </div>
    <div class="hero-image">
      <!-- <video src=""></video> -->
    </div>
  </div>
</div>
