<div class="section-amount">
  <div class="container container-amount">
    <ul class="amount-list">
      <li class="amount-item">
        <h3 class="amount-item-title">
          <p class="amount-item-title-sp">Кількість</p>
          зроблених паверів
        </h3>
        <span class="amount-item-numbers red-number">1644+</span>
        <p class="amount-item-discription">
          Всі повербанки розʼїхались по різним бригадам та підрозділам Збройних
          Сил України і допомогають нашим військовим завжди залишатись із
          електроенергією.
        </p>
      </li>
      <li class="amount-item">
        <h3 class="amount-item-title">
          <p class="amount-item-title-sp">Кількість</p>
          перероблених цигарок
        </h3>
        <span class="amount-item-numbers blue-number">60000+</span>
        <p class="amount-item-discription">
          Для виробництва повербанків ми використовуємо акумулятори з
          електронних сигарет. Інші комплектуючі цигарок ми утилізуємо за
          допомогою наших партнерів.
        </p>
      </li>
    </ul>
  </div>
</div>
