<section class="section">
<div class="container container-underline">
  <h2 data-lng="articles-title" class="section-header">Про нас пишуть</h2>
  <ul class="logo-box logo-articles">
    <li class="articles-item logo-stb">
      <a class="logo-link "  href="https://www.stb.ua/dobre/ru/issue/druzya-ajtishniki-izgotavlivayut-poverbanki-iz-akkumulyatorov-elektronnyh-sigaret/ " target="_blank">
        <img src="../images/section-articles/STB_logo.png" alt="Logo STB" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item  logo-intb ">
      <a class="logo-link" href="https://fb.watch/d4Sy3Kt1zz/" target="_blank">
        <img src="../images/section-articles/intb.png" alt="" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item logo-mvi">
      <a class="  logo-link" href="https://media.zagoriy.foundation/velyka-istoriya/energiya-dlya-vijska-yak-komanda-powerkit-vygotovlyaye-paverbanky-na-front/" target="_blank">
        <img src="../images/section-articles/media-velykyh-istorii.png" alt="" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item logo-cna">
      <a class="  logo-link" href="https://www.channelnewsasia.com/world/ukraine-cyber-group-e-cigarettes-power-banks-frontline-soldiers-charge-phones-radios-russia-3203801 " target="_blank">
        <img src="../images/section-articles/cna-logo.png" alt="" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item logo-informator">
      <a class=" logo-link" href="https://ps.informator.ua/2022/05/13/ajtishky-pereroblyuyut-elektronni-sygarety-na-paverbanky-dlya-zsu-yak-doluchylysya-hlopczi-z-pereyaslava/" target="_blank">
        <img class="articles-img" src="/images/section-articles/informat.png" >
      </a>
    </li>
    <li class="articles-item logo-arte">
    <a class=" logo-link" href="https://www.arte.tv/de/videos/111083-010-A/tracks-east/" target="_blank">
      <img src="../images/section-articles/arte_red.png" alt="" srcset="" class="articles-img">
    </a>
    </li>
    <li class="articles-item logo-vkyiv">
      <a class=" logo-link" href="https://vechirniy.kyiv.ua/news/66905/" target="_blank">
        <img class=" articles-img" src="../images/section-articles/vechirnii-kyiv.png">
      </a>
    </li>
    <li class="articles-item logo-liga">
      <a class=" logo-link" href="https://life.liga.net/istoriyi/article/ne-vybrasyvayte-vykurennuyu-elektro-sigaretu-aytishniki-sdelayut-iz-nee-poverbank-dlya-vsu" target="_blank">
        <img src="../images/section-articles/Liga.net_logo.png" alt="" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item logo-1p1">
      <a class="  logo-link" href="https://www.youtube.com/watch?v=gAOHs1tep1I" target="_blank" >
        <img src="../images/section-articles/1_plus_1_logo.png" alt="" srcset="" class="articles-img">
      </a>
    </li>
    <li class="articles-item logo-dim">
      <a class=" logo-link"   href="https://www.youtube.com/watch?v=msK3RxHZdh0&t=1052s&ab_channel=%D0%A2%D0%B5%D0%BB%D0%B5%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D0%94%D0%86%D0%9C  " target="_blank">
        <img src="../images/section-articles/dim.png" alt="лого дім" srcset="" class="articles-img">
      </a>
    </li>
  </ul>
</div>
</section>
