<section class="section section-partners">
  <a id="partners" class="ancor"></a>
  <div class="container container-underline">
    <h2 data-lng="partners-title" class="section-header">Партнери</h2>
    <ul class="logo-partners">
      <li class="partners-item logo-multimall">
        <a
          href="https://cosmo-multimall.com/"
          target="_blank"
          class="logo-link"
          aria-label="Open partners website"
        >
          <img
            src="../images/section-partners/logo_cosmo_multimall.svg"
            alt="Cosmo multimall logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-actualne">
        <a
          href="https://www.instagram.com/aktualneoukrajine/ "
          target="_blank"
          class="logo-link"
          aria-label="Open partners website"
        >
          <img
            src="../images/section-partners/aktualne_ua.png"
            alt="Aktualne ua logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-multiplex">
        <a
          href="https://multiplex.ua/ "
          target="_blank"
          class="logo-link"
          aria-label="Open partners website"
        >
          <img
            src="../images/section-partners/logo_multiplex.svg"
            alt="Multiplex logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-eco-kpi">
        <a
          href="https://instagram.com/ecokpi"
          target="_blank"
          class="logo-link small"
          aria-label="Open partners website"
        >
          <img
            src="../images/section-partners/logo-eco-KPI-4.png"
            alt="Eco KPI logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-respublika-park">
        <a
          href="https://respublikapark.com.ua/"
          target="_blank"
          class="logo-link small"
          aria-label="Open partners website"
        >
          <img
            src="../images/section-partners/respublica-4.png"
            alt="Respublica logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-rivermall">
        <a href="https://rivermall.ua/" target="_blank" class="logo-link small" aria-label="Open partners website">
          <img
            src="../images/section-partners/rivermall.svg"
            alt="Rivermall logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-mardal-cables">
        <a href="https://mardalcables.com/" target="_blank" class="logo-link" aria-label="Open partners website">
          <img
            src="../images/section-partners/new-MC-logo.svg"
            alt="Mardal cables logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-nova-poshta">
        <a href="https://novaposhta.ua/" target="_blank" class="logo-link" aria-label="Open partners website">
          <img
            src="../images/section-partners/nova-poshta.png"
            alt="Nova poshta logo"
            class="partners-img"
          >
        </a>
      </li>
      <li class="partners-item logo-kyiv-komun-s">
        <a href="https://kks.kyiv.ua/ " target="_blank" class="logo-link small" aria-label="Open partners website">
          <img
            src="../images/section-partners/kyiv-komun-service.svg"
            alt="Kyiv komun service logo"
            class="partners-img"
          >
        </a>
      </li>
    </ul>
  </div>
</section>
