<section class="section section-about">
  <a id="about" class="ancor"></a>
  <div class="container">
    <h2 data-lng="about-title" class="about-header section-header">Про нас</h2>
    <div class="about-wrapper">
      <div class="about-text">
        <p data-lng="about-paragraph1" class="about-paragraph">
          Проєкт <span class="text-accent">PowerKit</span> засновано з перших
          тижнів повномасштабного вторгнення рф в Україну. З самого початку над
          проєктом працювало 5 друзів, згодом наша команда розширилась до понад
          100 волонтерів з різних міст України та інших держав.
        </p>
        <p data-lng="about-paragraph2" class="about-paragraph">
          <span class="text-accent">Мета проєкту</span> - забезпечити військових
          ЗСУ безкоштовними, потужними та зручними повербанками. Наші повербанки
          обладнані LED стрічкою червоного кольору, виходами USB та спеціальним
          розʼємом для зарядки військових рацій.
        </p>
        <p data-lng="about-paragraph3" class="about-paragraph">
          Проєкт виконує також екологічну функцію, а саме утилізацію електронних
          сигарет. Такі сигарети містять літієві акумулятори, які за своїми
          властивостями підходять для виробництва досить потужних повербанків.
        </p>
      </div>
      <div class="about-gallery">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture>
                <source srcset="../images/section-about/d-frame6.jpg" media="(min-width: 75em)">
                <source srcset="../images/section-about/m-frame6.jpg" media="(min-width: 40em)">
                <img src="../images/section-about/m-frame6.jpg" alt="Picture 6" decoding="async">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="../images/section-about/d-frame7.jpg" media="(min-width: 75em)">
                <source srcset="../images/section-about/m-frame7.jpg" media="(min-width: 40em)">
                <img src="../images/section-about/m-frame7.jpg" alt="Picture 7" decoding="async">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame0.webp    1x,
                    ../images/section-about/d-frame0@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame0.jpg    1x,
                    ../images/section-about/d-frame0@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame0.webp    1x,
                    ../images/section-about/t-frame0@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame0.jpg    1x,
                    ../images/section-about/t-frame0@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame0.webp    1x,
                    ../images/section-about/m-frame0@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame0.jpg    1x,
                    ../images/section-about/m-frame0@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <img
                  src="../images/section-about/d-frame0.jpg"
                  alt="images 1"
                >
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="../images/section-about/d-frame5.png" media="(min-width: 75em)">
                <source srcset="../images/section-about/m-frame5.png" media="(min-width: 40em)">
                <img src="../images/section-about/m-frame5.png" alt="Picture 5" decoding="async">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="../images/section-about/d-frame8.jpg" media="(min-width: 75em)">
                <source srcset="../images/section-about/m-frame8.jpg" media="(min-width: 40em)">
                <img src="../images/section-about/m-frame8.jpg" alt="Picture 8" decoding="async">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="../images/section-about/d-frame9.jpg" media="(min-width: 75em)">
                <source srcset="../images/section-about/m-frame9.jpg" media="(min-width: 40em)">
                <img src="../images/section-about/m-frame9.jpg" alt="Picture 9" decoding="async">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame1.webp    1x,
                    ../images/section-about/d-frame1@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame1.jpg    1x,
                    ../images/section-about/d-frame1@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame1.webp    1x,
                    ../images/section-about/t-frame1@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame1.jpg    1x,
                    ../images/section-about/t-frame1@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame1.webp    1x,
                    ../images/section-about/m-frame1@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame1.jpg    1x,
                    ../images/section-about/m-frame1@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <img
                  src="../images/section-about/d-frame1.jpg"
                  alt="images 2"
                >
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame2.webp    1x,
                    ../images/section-about/d-frame2@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame2.jpg    1x,
                    ../images/section-about/d-frame2@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame2.webp    1x,
                    ../images/section-about/t-frame2@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame2.jpg    1x,
                    ../images/section-about/t-frame2@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame2.webp    1x,
                    ../images/section-about/m-frame2@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame2.jpg    1x,
                    ../images/section-about/m-frame2@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <img
                  src="../images/section-about/d-frame2.jpg"
                  alt="images 3"
                >
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame3.webp    1x,
                    ../images/section-about/d-frame3@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ../images/section-about/d-frame3.jpg    1x,
                    ../images/section-about/d-frame3@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame3.webp    1x,
                    ../images/section-about/t-frame3@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../images/section-about/t-frame3.jpg    1x,
                    ../images/section-about/t-frame3@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame3.webp    1x,
                    ../images/section-about/m-frame3@2x.webp 2x
                  "
                  type="image/webp"
                >
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ../images/section-about/m-frame3.jpg    1x,
                    ../images/section-about/m-frame3@2x.jpg 2x
                  "
                  type="image/jpeg"
                >
                <img
                  src="../images/section-about/d-frame3.jpg"
                  alt="images 4"
                >
              </picture>
            </div>
          </div>
        </div>
        <a
          data-lng="about-link"
          class="link-see-more"
          href="https://instagram.com/uapowerkit"
          target="_blank"
          >Дивитись більше &rarr;</a
        >
      </div>
    </div>
  </div>
</section>
